# MongoDB
MONGODB_URI=mongodb://localhost:27017/uteshop_db

# Server
PORT=3000

# JWT
JWT_SECRET=your_jwt_secret_key_here
JWT_EXPIRES_IN=7d

# Email (Gmail SMTP)
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USER=your_email@gmail.com
EMAIL_PASS=your_app_password

# OTP
OTP_EXPIRE_MINUTES=5

# VNPAY Configuration
VNP_TMN_CODE=your_tmn_code_here
VNP_HASH_SECRET=your_hash_secret_here
VNP_PAY_URL=https://sandbox.vnpayment.vn/paymentv2/vpcpay.html
VNP_RETURN_URL=http://localhost:5173/payment/vnpay/return
